---
credentials:
  admin:
    password: {{ MONGODB_ADMIN_PASSWORD | b64encode }}
  database:
    db: {{ MONGODB_DATABASE | b64encode }}
    user: {{ MONGODB_USER | b64encode }}
    password: {{ MONGODB_PASSWORD | b64encode }}
    hogajama_db: {{ HOGAJAMA_DB | b64encode }}
    mongodb_pw: {{ MONGODB_PW | b64encode }}
...