---
fluentd:
  timezone: "Europe/Vienna"
  imageStream:
    name: "fluentd-hogarama"
    base:
      name: "edge-debian"
      kind: "DockerImage"
      from: "fluent/fluentd:edge-debian"
amq:
    credentials:
        amq_password: "{{ AMQ_PASSWORD | b64encode }}"
        amq_user: {{ AMQ_USER | b64encode }}"
    deploymentconfig:
        amq_truststore_password: "{{ AMQ_TRUSTSTORE_PASSWORD }}"
        amq_keystore_password: "{{ AMQ_KEYSTORE_PASSWORD }}"
        timezone: "Europe/Vienna"
        imageStream:
            name: "amq-broker-72-openshift"
...