---
fluentd:
  timezone: "Europe/Vienna"
  imageStream:
    name: "fluentd-hogarama"
    base:
      name: fluentd
      tag: "edge-debian"
      kind: "DockerImage"
      from: "fluent/fluentd:edge-debian"
  trigger:
    github:
      secret: "abc"
    generic:
      secret: "def"
amq:
  credentials:
    amq_password: "{{ AMQ_PASSWORD | b64encode }}"
    amq_user: "{{ AMQ_USER | b64encode }}"
  deploymentconfig:
    amq_truststore_password: "{{ AMQ_TRUSTSTORE_PASSWORD }}"
    amq_keystore_password: "{{ AMQ_KEYSTORE_PASSWORD }}"
    timezone: "Europe/Vienna"
    imageStream:
      name: "amq-broker-72-openshift"

---
fluentd:
  image:
    repository: image-registry.openshift-image-registry.svc:5000/{{ NAMESPACE }}/fluentd-hogarama
    tag: latest
    pullPolicy: Always
  configMaps:
    forward-input.conf: |
      <source>
        @type mqtt

        host amq
        port 1883-tcp

        <parse>
          @type json
        </parse>

        topic habarama

        <security>
          username {{ FLUENTD_USERNAME }}
          password {{ FLUENTD_PASSWORD }}
        </security>

        <monitor>
          recv_time true
          recv_time_key 'time'
        </monitor>
      </source>
    output.conf: |
      <match **.habarama.**>
        @type copy
        <store>
          @type mongo
          database hogajamadb
          host mongodb
          port 27017

          collection habarama

          user {{ FLUENTD_MONGO_USERNAME }}
          password {{ FLUENTD_MONGO_PASSWORD }}

          <inject>
            time_key time
          </inject>
          <buffer>
            flush_interval 3s
          </buffer>
        </store>
        <store>
            @type file
            @id   mqttoutput
            path         /fluentd/log/mqtt.data.*.log
            symlink_path /fluentd/log/mqtt.data.log
            append       true
            time_slice_format %Y%m%d
            time_slice_wait   10m
            time_format       %Y%m%dT%H%M%S%z
            time_key          time
        </store>
      </match>

      <filter **>
        @type stdout
      </filter>
...